.App {
  text-align: center;
}

.nav{
  background-color: rgb(72, 104, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 20vw;
  list-style: none;
}
.nav-links>li:hover{
  border-bottom: 1px solid black;
}
.shop-container{
  display: flex;
  flex-wrap: wrap;
}